version: '3'

services:
  app:
    build: .
    shm_size: 512M # Workaround to fix docker crashes because of to small /dev/shm
    platform: linux/amd64 # For M1 to install google-chrome-stable; However still crashes on M1 when launching chrome (selenium.common.exceptions.WebDriverException: Message: unknown error: unable to discover open window in chrome (Session info: headless chrome=109.0.5414.119))
    command: python flathunt.py
    restart: always
    environment:
      # - TARGET_URLS=https://www.immobilienscout24.de/Suche/...;https://www.wg-gesucht.de/...
      # - DATABASE_LOCATION=
      # - GOOGLE_CLOUD_PROJECT_ID=
      # - VERBOSE_LOG=
      - LOOP_PERIOD_SECONDS=600
      # - MESSAGE_FORMAT=
      # - NOTIFIERS=telegram,mattermost,slack...
      # - TELEGRAM_BOT_TOKEN=160165XXXXXXX:...
      # - TELEGRAM_RECEIVER_IDS=12345...
      # - MATTERMOST_WEBHOOK_URL=
      # - SLACK_WEBHOOK_URL=
      # - WEBSITE_SESSION_KEY=
      # - WEBSITE_DOMAIN=
      # - 2CAPTCHA_KEY=
      # - IMAGETYPERZ_TOKEN=
      # - HEADLESS_BROWSER=yes
    volumes:
      - ./:/usr/src/app # not ideal, but the only way to incorporate the database (processed_ids.db), which is currently created at runtime
